<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <H4>soy un H4 </H4>
    <h1>El título de nuestro documento</h1>
    <h2> Un subtitulo cualquiera</h2>

    <img src="/images/leia.jpg" alt="Cargando Imagen de Leia"></img>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempora veritatis quo similique recusandae doloremque iste, repellendus accusamus quidem hic voluptate ex a numquam beatae accusantium temporibus, maxime vel nulla.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad numquam vero iure id velit natus quod, laudantium, perspiciatis vel perferendis aliquid in porro, architecto cum pariatur nisi quisquam assumenda doloribus?</p>
<ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<a href="https://www.google.com">Ir Google</a>
</body>
</html>